# 파이썬 모듈

In [ ]:
# 241

In [1]:
import datetime
now = datetime.datetime.now()
print(now)

2024-06-18 22:56:46.845293

In [ ]:
# 242

In [2]:
import datetime
now = datetime.datetime.now()
print(now,type(now))

2024-06-18 22:57:42.015365 <class 'datetime.datetime'>

In [11]:
import datetime
now = datetime.datetime.now()

for day in range(5,0,-1) :
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2024-06-13 23:07:51.139397
2024-06-14 23:07:51.139397
2024-06-15 23:07:51.139397
2024-06-16 23:07:51.139397
2024-06-17 23:07:51.139397

In [ ]:
# 244 strftime

In [18]:
import datetime

now = datetime.datetime.now()
print(now.strftime('%H:%M:%S')) #대문자만 가능?

23:11:53

In [ ]:
# 245

In [19]:
import datetime
day = "2024-06-18"
a = datetime.datetime.strptime(day, "%Y-%m-%d")
print(a, type(a))

2024-06-18 00:00:00 <class 'datetime.datetime'>

In [ ]:
# 246

In [ ]:
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)

    time.sleep(1)

In [ ]:
# 248

In [2]:
import os
ab = os.getcwd()
print(ret, type(ab))

C:\workspace\wassup3\01_Python_grammar <class 'str'>

In [ ]:
#249

In [9]:
import os
os.rename("C:\\workspace\\wassup3\\01_Python_grammar\\output\\새파일.txt", "C:\\workspace\\wassup3\\01_Python_grammar\\output\\newfile.txt")

In [ ]:
#250

In [14]:
import numpy
for i in numpy.arange(0, 5, 0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

In [ ]:
#251

In [ ]:
클래스 : 
객체 : 
인스턴스 :

In [ ]:
# 252

In [15]:
class Human :
    pass

In [ ]:
# 253

In [16]:
class Human :
    pass
    areum = Human()

In [ ]:
# 254

In [ ]:
class Human :
    def __init__(self):
        print("응애응애")
    
    areum = Human()

In [ ]:
# 255

In [17]:
class Human :
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
print(areum.name)

아름

In [ ]:
# 256

In [18]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
print(areum.age)

25

In [ ]:
# 257

In [21]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self) :
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))
        
areum = Human("아름", 25, "여자")
areum.who()

이름: 아름 나이: 25 성별: 여자

In [ ]:
# 258

In [23]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self) :
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("모름", 0, "모름")
areum.who()

areum.setInfo("아름", 25, "여자")
areum.who()

이름: 모름 나이: 0 성별: 모름
이름: 아름 나이: 25 성별: 여자

In [ ]:
# 259

In [28]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self) :
         print("나의 죽음을 알리지마라")

    def who(self) :
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


areum = Human("아름", 25, "여자")
del(areum)

나의 죽음을 알리지마라

In [ ]:
# 260

In [2]:
class OMG :
    def print() :
        print("Oh my god")


mystock = OMG()
mystock.print()      # OMG.print(mystock)

TypeError: OMG.print() takes 0 positional arguments but 1 was given

In [ ]:
# 261

In [3]:
class Stock :
    pass

In [ ]:
# 262

In [5]:
class stock :
    def __init__(self,com,code) :
        self.com = com
        self.code = code

samsung = stock("삼성전자","005930")
print(samsung.com)
print(samsung.code)

삼성전자
005930

In [ ]:
# 263

In [2]:
class stock :
    def __init__(self,com,code) :
        self.com = com
        self.code = code

    def set_com(self,com):
        self.com = com
        
    def set_code(self,code):
        self.code = code

a = stock(None, None)
a.set_code("005930")
print(a.code)

005930

In [ ]:
# 265

In [2]:
class stock :
    def __init__(self,com,code) :
        self.com = com
        self.code = code

    def set_com(self,com):
        self.com = com
        
    def set_code(self,code):
        self.code = code

    def get_name(self):
        return self.com

    def get_code(self):
        return self.code

samsung = stock("삼성전자","005930")
print(samsung.com)
print(samsung.code)
print(samsung.get_name())
print(samsung.get_code())

삼성전자
005930
삼성전자
005930

In [ ]:
# 266

In [3]:
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

In [ ]:
# 267

In [4]:
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.배당수익률)

2.83

In [ ]:
# 268

In [5]:
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

    def set_per(self, per):
        self.per = per

    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_dividend(self, dividend):
        self.dividend = dividend

In [ ]:
# 269

In [6]:
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_per(12.75)
print(삼성.per)

12.75

In [ ]:
# 270

In [7]:
종목 = []

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for i in 종목:
    print(i.code, i.per)

005930 15.79
005380 8.7
066570 317.34